* {
  margin: auto 0;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  font-family: 'Open Sans';
}

main {
  min-height: 100vh;
  background-color: #F3F6F7;
  display: flex;
}

aside {
  border-top: 2px solid #1F1F3D;
  margin: 0;
  width: 30%;
  background-color: #587A8A;
}

form {
  border-bottom: 2px solid #3C6577;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

input {
  margin: 5px 0px;
  padding-left: 10px;
  font-size: 18px;
  outline: none;
  height: 50px;
  border: 2px solid #1F1F3D;
  border-radius: 2px;
}

button {
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 20px;
  margin: 10px 0;
  color: #FFFFFF;
  background-color: #1F1F3D;
  border: 2px solid #1F1F3D;
}

button:disabled {
  opacity: 0.5;
}

label {
  font-size: 15px;
  color: #C7D3D8;
}

section {
  overflow: auto;
  padding: 20px;
  margin: 0;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

img {
  height: 23px;
}

li {
  list-style: none;
}

article {
  background-color: #FAFDFF;
  border: 2px solid #C7D3D8;
  margin: 10px;
  width: 45%;
}

section p,
.header__div,
.task-container {
  display: flex;
}

.task-container {
  margin: 10px 20px;
}

.main__section {
  border: 2px solid #1F1F3D;
}

::placeholder {
  font-size: 15px;
  padding-bottom: 5px;
}

#task__text {
  color: #1F1F3D;
  margin-top: 10px;
  font-size: 18px;
  display: flex;
}

.flex {
  padding: 10px;
}

.body__header {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
}

.header__img {
  padding: 10px;
  height: 50px;
  width: 50px;
  background-color: #F3F6F7;
}

.header__h1 {
  margin: 10px;
  font-size: 35px;
  color: #FFFFFF;
  font-weight: 800;
}

.header__input {
  border-radius: 0 0 2px 0;
  border: none;
  margin-right: 10px;
  width: 350px;
  height: 50px;
}

.header__h1--span {
  color: #FFC30C;
}

.aside__btn--filter {

}

.section__h2 {
  color: #1F1F3D;
  margin-left: 10px;
  font-size: 25px;
  font-weight: 700;
}

.article__section--top {
  border-bottom: 2px solid #C7D3D8;
}

.form__div--tasks,
.article__section--mid {
  display: flex;
  flex-direction: column;
}

.form__div--input--container {
  display: flex;
}

.form__input--task {
  width: 100%;
}

.form__btn--plus {
  margin: 5px 0;
  width: 50px;
  font-weight: lighter;
  font-size: 39px;
  padding: 0;
}

.form__btn--clear {
  margin-bottom: 30px;
}

.task-text {
  color: #FFFFFF;
}

.form__div--btn--container {
  padding: 10px;
}

.border-bottom {
  border-bottom: 2px solid #3C6577;
  margin: 20px 0
}

.article__section--bot {
  border-top: 2px solid #C7D3D8;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.urgent__container,
.delete__container {
  color: #3C6577;
  font-size: 11px;
  text-align: center;
  padding: 10px;
}

.check-img {
  margin-right: 10px;
}

.delete-btn {
  margin: 0 10px;
  width: 25px;
}