* {
  margin: auto 0;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  font-family: 'Open Sans', sans-serif;
}

main {
  height: 100vh;
  background-color: #F3F6F7;
  display: flex;
}

aside {
  border-top: 2px solid #1F1F3D;
  margin: 0;
  width: 30%;
  background-color: #587A8A;
}

form {
  display: flex;
  flex-direction: column;
}

section {
  overflow: auto;
  padding: 20px;
  margin: 0;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

img {
  height: 23px;
}

li {
  list-style: none;
}

article {
  background-color: #FAFDFF;
  border: 2px solid #C7D3D8;
  margin: 10px;
  width: 45%;
}

section p,
.header__div,
.task-container {
  display: flex;
}

.main__section {
  border: 2px solid #1F1F3D;
}

::placeholder {
  font-size: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
}

#task__text {
  display: flex;
}

.flex {
  padding: 10px;
}

.body__header {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
}

.header__image {
  padding: 10px;
  height: 50px;
  width: 50px;
  background-color: #F3F6F7;
}

.header__h1 {
  margin: 10px;
  font-size: 35px;
  color: #FFFFFF;
  font-weight: 800;
}

.header__input {
  margin-right: 10px;
  width: 350px;
  height: 50px;
}

.header__h1--span {
  color: #FFC30C;
}

.section__h2 {
  font-size: 20px;
  font-weight: 700;
}

.article__section--top {
  border-bottom: 2px solid #C7D3D8;
  width: 100%;
}

.form__div--tasks,
.article__section--mid {
  display: flex;
  flex-direction: column;
}

.article__section--bot {
  border-top: 2px solid #C7D3D8;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.urgent__container,
.delete__container {
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

.check-img {
  margin-right: 10px;
}

.delete-btn {
  width: 25px;
}