/* Universal Selector */

* {
  box-sizing: border-box;
  margin: auto 0;
  transition: ease all .3s;
}

/* Main Elements */

body {
  font-family: 'Open Sans';
}

main {
  background-color: #F3F6F7;
  display: flex;
  min-height: 100vh;
}

aside {
  background-color: #587A8A;
  border-top: 2px solid #1F1F3D;
  margin: 0;
  width: 30%;
}

form {
  border-bottom: 2px solid #3C6577;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 10px;
}

input {
  border-radius: 2px;
  border: 2px solid #1F1F3D;
  font-size: 18px;
  height: 50px;
  margin: 5px 0px;
  padding-left: 10px;
}

input:focus {
  outline: none;
}

button {
  background-color: #1F1F3D;
  border: 2px solid #1F1F3D;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  height: 50px;
  margin: 10px 0;
  width: 100%;
}

button:disabled {
  opacity: 0.5;
}

button:focus {
  outline: none;
}

label {
  color: #C7D3D8;
  font-size: 15px;
}

section {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  overflow: auto;
  padding: 20px;
  width: 70%;
}

img {
  height: 23px;
}

li {
  list-style: none;
}

article {
  background-color: #FAFDFF;
  border: 2px solid #C7D3D8;
  margin: 10px;
  width: 45%;
}

::placeholder {
  font-size: 15px;
  padding-bottom: 5px;
}

/* Classes */

section p,
.header__div,
.task-container {
  display: flex;
}

.task-container {
  margin: 10px 20px;
}

.main__section {
  border: 2px solid #1F1F3D;
}

#task__text {
  color: #1F1F3D;
  display: flex;
  font-size: 18px;
  margin-top: 10px;
}

.flex {
  padding: 10px;
}

.body__header {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
}

.header__img {
  background-color: #C8D3D9;
  height: 50px;
  padding: 13px;
  width: 50px;
}

.header__h1 {
  color: #FFFFFF;
  font-size: 35px;
  font-weight: 800;
  margin: 10px;
}

.header__input {
  border-radius: 0 0 2px 0;
  border: none;
  height: 50px;
  margin-right: 10px;
  width: 350px;
}

.header__h1--span {
  color: #FFC30C;
}

.section__h2 {
  color: #1F1F3D;
  font-size: 25px;
  font-weight: 700;
  margin-left: 10px;
}

.article__section--top {
  border-bottom: 2px solid #C7D3D8;
}

.form__div--tasks,
.article__section--mid {
  display: flex;
  flex-direction: column;
}

.form__label--task {
  margin-top: 30px;
}

.form__div--input--container {
  display: flex;
}

.form__input--task {
  width: 100%;
}

.form__btn--plus {
  font-size: 27px;
  font-weight: lighter;
  margin: 5px 0;
  padding: 0;
  width: 50px;
}

.form__btn--clear {
  margin-bottom: 30px;
}

.task-text {
  color: #FFFFFF;
}

.form__div--btn--container {
  padding: 10px;
}

.border-bottom {
  border-bottom: 2px solid #3C6577;
  margin: 20px 0
}

.article__section--bot {
  border-top: 2px solid #C7D3D8;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.urgent__container,
.delete__container {
  color: #3C6577;
  font-size: 11px;
  padding: 10px;
  text-align: center;
}

.check-img {
  margin-right: 10px;
}

.delete-btn {
  margin: 0 10px;
  width: 25px;
}

/* Media Query */

@media screen and (max-width: 720px) {

  main {
    display: block;
  }

  aside {
    width: 100%;
  }

  article {
    width: 100%;
    margin: 20px auto; 
  }

  .body__header {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .header__div {
    width: 100%;
    margin: 10px;
  }

  .main__section {
    align-items: center;
    border-top: none;
    display: block;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header__div {
    margin-bottom: 10px;
  }
}